body {
    background-image: url("char-page-intro-void.gif");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    position: fixed;
    margin: 0;
}

.topnav {
    background-color: #333;
    opacity: 0.9;
    overflow: hidden;
    margin: auto;
    width: 100vw;
}
li, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    background-color: #333;
    opacity: 0.9;
    overflow: hidden;
    margin: 0;
    width: 100vw;
}
.nav-logo {
    cursor: pointer;
    height: 45px;
    margin-left: 30%;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    font-weight: bold;
    text-decoration: underline;
}