body {
    background-image: url("char-page-bg-basilio.gif");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    position: fixed;
    margin: 0;
}
.topnav {
    background-color: #333;
    opacity: 0.9;
    overflow: hidden;
    margin: auto;
    width: 100vw;
}
li, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    background-color: #333;
    opacity: 0.9;
    overflow: hidden;
    margin: 0;
    width: 100vw;
}
.nav-logo {
    cursor: pointer;
    height: 45px;
    margin-left: 30%;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    font-weight: bold;
    text-decoration: underline;
}
.scroll {
    width: 50vw;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    margin: auto;
    margin-left: 50vh;
    height: 95vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll::-webkit-scrollbar {
    display: none;
}
.head-text {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: auto;
}
.regular-text {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    margin-left: 5%;
    margin-right: 5%;
}
.gap {
    margin-top: 10%;
    margin-bottom: 10%;
}
.row {
    display: flex;
}
.column {
    flex: 100%;
    padding: 5px;
}